@charset "EUC-KR";
#snsWriteTable{
	margin-left: auto;
	margin-right: auto;
}
#snsWriteTable textarea{
	width:500px;
	height:70px;
	border:#B71C1C solid 3px;
	padding: 7px;
}
#snsWriteTable textarea::placeholder{
	color:#B71C1C;
}
#snsWriteTable button{
	width: 70px;
	border:none;
	background-color: transparent;
	color:#000000;
	font-size: 15pt;
	font-weight: 800;
}
#snsLoadTable{
	margin-left: auto;
	margin-right: auto;
}
#snsMsgTable{
	width: 800px;
	margin-top: 3px;
	border: black solid 1px;
}
#snsMsgTable textarea{
	width: 800px;
	height: 100px;
	padding: 7px;
}
#snsMsgTable img{
	width: 90px;
	height: 90px;
}
#snsMsgTable td{
	border: black solid 1px;
}
.snsMsg{
	height: 100px;
	vertical-align:top;
}
#snsMsgTable button{
	background-color: transparent;
	color: whitegray;
	font-size: 11pt;
	
}