@charset "EUC-KR";

@font-face {
	font-family: "a";
	src: url("a.TTF");
}

body {
	font-family: "a";
	margin: 0px;
	padding: 0px;
	background-color: #00695C;
}
button, input, textarea, select{
	font-family: "a";
	outline: none;
	text-align: center;
}
textarea{
	resize: none;
}
::-webkit-scrollbar {
	display: none;
}

a {
	text-decoration: none;
}

#site {
	margin-top:7px;
	margin-left: auto;
	margin-right: auto;
	width: 1000px;
	border-spacing: 0px;
}

#siteTitle {
	height: 100px;
	border-bottom:white solid 5px;
}

#siteTitle a {
	color: white;
	font-size: 25pt;
	font-weight: 900;
}

#siteMenu {
	width: 180px;
	padding: 10px;
	border-right:white solid 5px;
}

#siteMenu a {
	color: white;
	font-weight: 800;
	font-size: 15pt;
}

#siteMenu a:hover {
	color: red;
}

#siteContent {
	padding: 15px;
	height: 460px;
	color:white;
}