@charset "EUC-KR";
.product{
	float: left;
	width:200px;
	height: 130px;
	border-spacing: 0px;
	margin: 13px;
	border:white solid 3px;
	box-shadow: 3px 3px 3px black;
	font-size: 15pt;
	cursor: pointer;
	border-radius: 7px;
}
.product img{
	max-width: 70px;
}
.product .td1{
	width: 90px;
	background-color: white;
}
.product .td2{
	font-size: 20pt;
	background-color: white;
	height:50px;
	color:#00695C;
}
.productPage{
	color:white;
	font-size: 15pt;
}
#productDetailTable{
	margin-top:10px;
	margin-left:auto;
	margin-right:auto;
	width: 70%;
	background-color: #FFF59D;
	color:black;
	box-shadow: 3px 3px 3px black;
	font-size: 15pt;
}
#productDetailTable .td1{
	padding-left: 5px;
	width: 100px;
}
#productDetailTable button{
	background-color: transparent;
	font-size: 17pt;
	font-weight: 800;
	border: none;
}